@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"]="About";
    }
    <div class="about">
        <h4>About Us</h4>

<p>Comfort, satisfaction and service with a smile Situated right in the centre of one of Malta’s most popular tourist resorts, the CRowne Plaza is a one-stop destination for all your holiday requirements. 

This family run hotel boasts 82 comfortable and spacious rooms, many of which enjoy Mediterranean Sea views. The hotel’s many facilities include a rooftop, outdoor pool (open from May to October),   a restaurant, lobby bar and a 24-hour reception desk.  

Our friendly and hospitable staff look forward to welcoming you, and to ensuring that your time in Malta is memorable for all the right reasons. 

The management team behind the Crowne Plaza also run the Ambassador Hotel in the seaside village Xemxija.</p>
<img src="~/js/bedroom.jpg "style=" height: 200px;" /> 
<img src="~/js/download.jpg"style="height:200px;"/>
<img src="~/js/exterior.jpg"style="height:200px;"/>
</div>
