
@{
    ViewData["Title"] = "Contact";
}

<div class="back">
    
  <p style="font-size:25px; color:blue"><b>Contact Us</b></p>
 
  
  <div class="row">
    <div class="col-md-5">
              <div class="icon"> <i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    
                        <h5>Address</h5>
                        <p>4671 Sugar Camp Road,<br >Owantonna,Minnesota,<br />55060 </p>
                    
                <div class="icon"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
                        <h5>Phone</h5>
                        <p>507-475-6094 </p>
             
           
                <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    
                        <h5>Email</h5>
                        <p>hotelmgmt@gmail.com </p>
                   
                
            
      
    </div>
    <div class="col-md-3">
        <ul class="list-group">
         <label for="vno" class="form-label"><h5>Full Name:</h5></label><br />
            <label for="vno" class="form-label"><h5>Email:</h5></label><br />
             <label for="vno" class="form-label"><h5>Contact-no:</h5></label><br />
            <label for="vno" class="form-label"><h5>Message:</h5></label><br />
            </ul>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" id="vno" placeholder="Your Name"><br />
                <input type="email" class="form-control" id="vno" placeholder="abc@gmail.com"><br />
                <input type="number" class="form-control" id="vno" placeholder="+977"><br />
                 <input type="text" class="form-control" id="vno" placeholder="message">
                 

    
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
  </div>
  </div>