@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    
    <h1 class="display-4">Welcome to Crowne Plaza</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h2>Great choice of<span>Hotel</span></h2>

<img src="/js/bedroom.jpg" style="height:400px; width:100%;" />
<br />
     
 <div class="service">
        <h2>Services</h2>
          <div class="row">
    <div class="col-md-3">
      <img src="~/img/tour.jpg" style="width:250px; height:200px;"/><br />
      <h4><b>Tour & Exursion </b></h4><br />
      Vechile are available for tour and  <br />
      travels all over country.
      <hr/>
        
    </div>
    <div class="col-md-3">
         <img src="~/img/baby sitting.jpg" style="width:250px;height:200px;"/><br />
      <h4><b>Babby Sitting on Request</b></h4>
    Babby Sitting on Request  <br /> Care to babby.<br />
    <hr/>
      
    </div>
    <div class="col-md-3">
       <img src="~/img/free wifi.jpg"  style="width:250px;height:200px;"/><br />
      <h4><b>Free Wireless internet Acess</b></h4>
      Wireless Internet Access are abailable in  <br />and restro area .<br />
    <hr/>
         
      
    </div>

     <div class="col-md-3">
       <img src="~/img/laundry.jpg "  style="width:250px;height:200px;"/><br />
      <h4><b>Laundry Services</b></h4><br />
     Free Laundry service available for a customer <br /> who book queen and king size bed.<br />
    <hr/>
         
      
    </div>


       </div>
       </div>

